html {
    background-color: black;
    color: white;
    font-family: monospace;
}
.red {
    color: #ff6666;
}
.blue {
    color: #6666ff;
}
.winred {
    color: #ff0000;
}
.winblue {
    color: #0000ff;
}
td {
    text-align: center;
    color: lightgray;
    font-weight: bold;
}